html { font-family: Georgia, Palatino, serif; font-size: 12pt; }
.title  { text-align: center; }
body {
      margin: 0 auto;
      color: #222;
      padding: 30px;
}
.code-highlighted {background-color:#ffff00;}
.org-info-js_info-navigation { border-style:none; }
#org-info-js_console-label { font-size:10px; font-weight:bold;
			     white-space:nowrap; }
.org-info-js_search-highlight {background-color:#ffff00; color:#000000;
			       font-weight:bold; }
a {
      color: #0099ff;
      text-decoration: none;
}
a:hover { text-decoration: underline; }
code {
      font-family: Consolas, Monaco, Andale Mono, monospace;
      font-size: 13px;
      line-height: 1.5;
}
